@charset "utf-8";

body{
background-color:mediumaquarine;
}

.center{
margin:0 auto 0auto;
width: 50%;
}

ul{
list-style:none;
margin:0;
padding:0;
}

li{
float:left;
margin-right:1%;
}

.image:after{
content:"";
display:black;
clear:both;
}
